---
title: Welcome to YaMsg
css:
  - main.css
  - form.css
---

{{!< main}}

<main>
  <h2>{{title}}</h2>
  <br />
  <a href="./signIn.hbs">sign in</a>
  <a href="./signUp.hbs">sign up</a>
  <a href="./pageNotFound.hbs">404</a>
  <a href="./serverError.hbs">500</a>
  <a href="./dialogues.hbs">dialogues</a>
  <a href="./settings.hbs">settings</a>
</main>
